[Dd]ebug/
[Rr]elease/
.vs/
*.vcxproj.filters
*.vcxproj.user
.vscode
build
bin
*.log
.idea/
CMakeFiles/
cmake-build-*/
vcpkg_installed/
.DS_Store
*.db
CMakeUserPresets.json
GView/GView.rc
GView/GView.aps
GViewCore/GViewCore.rc
GViewCore/GViewCore.aps