# .github/workflows/ci.yml
name: build

permissions:
  contents: read

on:
  push:
    branches: [ release, main, dev ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15-intel, windows-latest]
    steps:
      - uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: ./.github/actions/build
        with:
          build_type: Release
          enable_tests: "false"
          use_vcpkg_cache: "true"
          upload_artifact: "false"
          jobs_count: "0"
          sign_binaries: "true"
