# .github/workflows/ci.yml
name: build

on:
  push:
    branches: [ release, main, dev ]
  workflow_dispatch:
  pull_request:

jobs:
  build:
    uses: ./.github/workflows/build_reusable.yml
    with:
      build_type: "Release"
      enable_tests: false
      use_vcpkg_cache: true
      os_matrix: '["ubuntu-24.04","macos-15-intel","windows-latest"]'
      jobs_count: 0
