name: build

on:
  push:
    branches: [ release, main, dev ]
  workflow_dispatch:
  pull_request:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-15-intel, windows-latest]
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      # Cache vcpkg build artifacts (saves lots of time!)
      - name: Cache vcpkg
        uses: actions/cache@v3
        with:
          path: |
            build/vcpkg_installed
            build/vcpkg_downloads
          key: ${{ runner.os }}-vcpkg-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-


      # OS-specific dependencies
      - name: Install dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libx11-dev gcc-multilib g++-multilib

      - name: Install dependencies (macOS)
        if: startsWith(matrix.os, 'macos')
        run: |
          brew update
          brew install autoconf autoconf-archive automake libtool make cmake ninja
          echo "VCPKG_CMAKE_GENERATOR=Ninja" >> $GITHUB_ENV
          # Uncomment if needed later:
          # brew install pkg-config # https://github.com/dotnet/runtime/issues/82240

      # Configure CMake
      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      # Build project
      - name: Build
        run: cmake --build build --config ${{ env.BUILD_TYPE }}