name: unit testing

on:
  push:
    branches: [ release, main, dev ]
  workflow_dispatch:
  pull_request:

jobs:
  unit-tests:
    name: Unit tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: ./.github/actions/build
        with:
          build_type: RelWithDebInfo
          enable_tests: "true"
          use_vcpkg_cache: "true"
          upload_artifact: "false"
          os_matrix: '["windows-latest"]' # TODO: "ubuntu-24.04","macos-15-intel",
          jobs_count: "0"
