name: unit testing

on:
  push:
    branches: [ release, main, dev ]
  workflow_dispatch:
  pull_request:

jobs:
  call-build:
    uses: ./.github/workflows/build_reusable.yml
    with:
      build_type: "RelWithDebInfo"
      enable_tests: true
      use_vcpkg_cache: true
      os_matrix: '["windows-latest"]' # TODO: "ubuntu-24.04","macos-15-intel",
      jobs_count: 0
